* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif; 
    background-color: #f0f2f5;
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    padding: 20px; 
}


.logo-container {
    margin-bottom: 20px; 
    text-align: center; 
}

.logo-container img {
    max-width: 150px; 
    height: auto;
}